page-digitalcard {


  .idcard {
    .name_idmember {
      position: absolute;
      margin-top: -18%;
      // bottom: 10%;
      left: 10%;
    }
  }

  .card-background-page {

    background-color: transparent !important;
    border-radius: 22px;


    ion-card {
      z-index: -100;
      position: relative;
      border-radius: 22px;
      background-color: transparent !important;
      // border: none;
      // height: 200px;

      //   img {
      //     display: block;
      //     margin-left: auto;
      //     margin-right: auto;
      //     width: 50%;
      //   }

      // img {
      //   width: 100%;
      //   max-width: 100%;
      // }

    }

    .card-title {
      position: absolute;
      //   text-align: left;
      padding-left: 25px;
      top: 75%;
      font-size: 1.0em;
      width: 100%;
      font-weight: bold;
      // color: #fff;

      color: brown;
      // text-shadow:
      //   -1px -1px 0 rgba(0, 0, 0, 0.254),
      //   1px -1px 0 rgba(0, 0, 0, 0.254),
      //   -1px 1px 0 rgba(0, 0, 0, 0.282),
      //   1px 1px 0 rgba(0, 0, 0, 0.453);
    }

    .card-subtitle {
      font-size: 0.9em;
      padding-left: 25px;
      position: absolute;
      top: 85%;
      width: 100%;
      // color: #fff;

      color: brown;
      //   text-shadow:
      //     -1px -1px 0 rgba(0, 0, 0, 0.254),
      //     1px -1px 0 rgba(0, 0, 0, 0.254),
      //     -1px 1px 0 rgba(0, 0, 0, 0.282),
      //     1px 1px 0 rgba(0, 0, 0, 0.453);
    }

  }

}
