<ion-header>

  <ion-navbar>
    <ion-title>Kartu Digital</ion-title>
    <ion-buttons id="qrShow" (click)="proccessQr()" end>
      <button ion-button icon-only color="royal">
        <ion-icon name="qr-code-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons id="qrHide" style="display: none;" (click)="hideQR()" end>
      <button ion-button icon-only color="royal">
        <ion-icon name="qr-code-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <!-- <div class="idcard" padding>
    <img src="../assets/imgs/card_member.png"/>
    <div class="name_idmember">
      <p>{{fullname}}</p>
      <p style="margin-top: -10px;">{{id_member}}</p>
    </div>
  </div> -->

  <div class="card-background-page">
    <ion-card id="cardmember">
      <div>
        <!-- <img src="https://picsum.photos/200/300" border="0" alt="cat photo: cat coolcat.gif" /> -->
      <img src="assets/imgs/card_member.png"/>
      </div>
      <div class="card-title">{{fullname}}</div>
      <div class="card-subtitle">{{id_member}}</div>
    </ion-card>
  </div>

  

  <div padding-bottom padding-left padding-right>
    <!-- <button id="qrShow" ion-button block color="danger" class="azz_button_nosahdow" outline (click)="proccessQr()">Lihat QR</button>
    <button id="qrHide" style="display: none;" ion-button block color="danger" class="azz_button_nosahdow" outline (click)="hideQR()">Sembunyikan QR</button> -->
    <button ion-button block color="danger" class="azz_button_nosahdow" outline (click)="saveDigitalCard()">Unduh Kartu Digital</button>
  </div>

  <ion-card id="qr" style="border-radius: 10px; display: none;">
    <!-- <ngx-qrcode  [value]="qrcodeId"></ngx-qrcode> -->
    <img [src]="qrcodeId" />
  </ion-card>

</ion-content>
