<!-- <ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="background" padding>

  <div class="titlebox">
    <h3 class="text1">Masuk Sebagai</h3>
    <h3 class="text2">Member Herborist</h3>
  </div>

</ion-content>

<ion-footer padding>
  <ion-toolbar no-border>
    <div class="form">
      <br>
      <ion-list>
  
        <!-- <ion-item>
          <ion-input type="text" placeholder="Nama Lengkap" [(ngModel)]="fullname"></ion-input>
        </ion-item> -->
      
        <ion-item>
          <ion-input type="number" placeholder="No. Handphone" [(ngModel)]="phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" placeholder="Kata Sandi" [(ngModel)]="password"></ion-input>
        </ion-item>
  
        <div padding>
          <button [disabled]="!password" ion-button block class="azz_button" (click)="login()">Masuk</button>
          <button ion-button block class="azz_button_nosahdow" clear padding-top (click)="signup()">Daftar</button>
        </div>
  
      </ion-list>
    </div>
  </ion-toolbar>
</ion-footer>
