page-login {

  .background {
    background-image: url("../assets/imgs/bg1.JPG");
    background-position: center;
    background-size: cover;

    .item.item-input {
      background-color: transparent;
      //   color: white;
    }

    // ion-input {
    //   border-width: 2px;
    //   border-style: solid;
    //   border-radius: 7px;

    //   background-color: #ffffff;
    //   opacity: 0.6;

    //   input::placeholder {
    //     color: black !important;
    //   }
    // }

    // h1,
    // h2,
    // h3,
    // h4,
    // h5 {
    //   color: white;
    //   margin-top: -2%;
    //   font-size: 30px;
    // }

    .titlebox {
      position: absolute;
      bottom: 0;
    }

    .text1 {
      font-weight: 300;
      color: white;
      margin-top: -2%;
      font-size: 25px;
    }

    .text2 {
      font-weight: 700;
      color: white;
      margin-top: -2%;
      font-size: 30px;
    }


  }

  ion-button {
    text-transform: none;
  }

  .form {
    background-color: white;
    border-radius: 15px;

  }

}
