<ion-header>

  <ion-navbar>
    <ion-title>Transaksi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="trans_list != '' || trans_list != null">
    <ion-item-group *ngFor="let list of trans_list" (click)="getDetailTrans(
      list.add_date,
      list.color,
      list.counter_id,
      list.counter_name,
      list.id, 
      list.id_member,
      list.date,
      list.name_location,
      list.phone,
      list.point,
      list.ref_number,
      list.tipe,
      list.type)">
      <ion-item-divider *ngIf="list.just_date != '' " color="light">
        {{list.just_date | date:' dd MMMM yyyy'}}
      </ion-item-divider>
      <ion-item>
        {{list.counter_name}}
        <ion-note color="{{list.color}}" item-end>{{list.tipe}}{{list.point}}</ion-note>
      </ion-item>
    </ion-item-group>
  </div>

  <div id="empty" style="display: none; margin-top: 40%;">
    <h3 text-center>Belum ada transaksi</h3>
  </div>


</ion-content>
