<ion-header>

  <ion-navbar>
    <ion-title>Ubah Data</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card class="azz_card">

    <ion-list>
      <ion-item>
        <ion-icon name="card-outline" color="dark" item-start></ion-icon>
          <ion-label stacked>NIK</ion-label>
          <ion-input type="number" placeholder="nomor nik" [(ngModel)]="nik"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar-outline" color="danger" item-start></ion-icon>
          <ion-label stacked>Ulang Tahun</ion-label>
          <ion-datetime displayFormat="DD MMMM YYYY" [(ngModel)]="birthday"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline" color="violet" item-start></ion-icon>
        <ion-label stacked>Email</ion-label>
        <ion-input type="text" placeholder="email" [(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-list>
  
  </ion-card>

  <br>

  <ion-card class="azz_card">
    <ion-list>
      <ion-item>
        <ion-icon name="phone-portrait-outline" color="danger" item-start></ion-icon>
        <ion-label stacked>Nomor Handphone</ion-label>
        <ion-input type="number" placeholder="nomor handphone" [(ngModel)]="phone_validation"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-icon name="lock-closed-outline" color="danger" item-start></ion-icon>
        <ion-label stacked>Kata Sandi</ion-label>
        <ion-input type="password" placeholder="Kata Sandi" [(ngModel)]="password_validation"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>

  <p text-center style="font-size: 11px; color: gray;">masukan nomor handphone dan kata sandi kamu untuk verifikasi update</p>

  <div padding>
    <button ion-button class="azz_button" color="primary" [disabled]="!password_validation" (click)="chekcData()" block>Kirim</button>
  </div>

</ion-content>
