page-dashboard {

  .has-refresher .scroll-content {
    border-top: 0 !important;
  }

  // ion-content {
  //   // background-image: url("../../assets/imgs/bg1.JPG");
  //   // background-position: center;
  //   // background-size: cover;
  //   background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  // }

  .text1 {
    font-weight: 300;
    color: green;
    margin-top: -2%;
    font-size: 14px;
  }

  .text2 {
    font-weight: 700;
    color: red;
    margin-top: -2%;
    font-size: 17px;
  }

  ion-slides {
    // padding-top: 20%;
    height: auto;
    // background-color: transparent;
    background: transparent !important;
  }

  ion-slide {
    // background-color: transparent;
    background: transparent !important;

    ion-item {
      border-bottom-color: transparent !important;
      box-shadow: none !important;
    }

    ion-card {
      max-width: 90%;
    }
  }


  .card-background-page {

    .ion-item-border {
      // border-radius: 20px !important;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      // padding-left: 10px;
      // padding-right: 10px;
      // padding-bottom: 5px;
      // padding-top: 5px;
      box-shadow: 0px -10px 20px -10px rgba(0, 0, 0, 0.2);
      // background-color: yellow;
    }


    .has-refresher .scroll-content {
      border-top: 0 !important;
    }


    .balance_card {
      position: relative;
      text-align: center;
      border-radius: 10px;
      height: 180px;

      //   img {
      //     display: block;
      //     margin-left: auto;
      //     margin-right: auto;
      //     width: 50%;
      //   }

      img {
        width: 100%;
        max-width: 100%;
      }

      //   div {
      //     position: absolute;
      //     left: 20%;
      //     top: 20%;
      //     width: 250px;
      //     transition: all 2s ease-in-out;
      //   }

      //   div:hover {
      //     transform: scale(2, 2)
      //   }

    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;

      //   -webkit-text-stroke: 1px black;
      //   color: white;
      //   text-shadow:
      //     3px 3px 0 #000,
      //     -1px -1px 0 #000,
      //     1px -1px 0 #000,
      //     -1px 1px 0 #000,
      //     1px 1px 0 #000;

      color: white;
      text-shadow:
        -1px -1px 0 rgba(0, 0, 0, 0.254),
        1px -1px 0 rgba(0, 0, 0, 0.254),
        -1px 1px 0 rgba(0, 0, 0, 0.282),
        1px 1px 0 rgba(0, 0, 0, 0.453);
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 55%;
      width: 100%;
      color: #fff;

      color: white;
      text-shadow:
        -1px -1px 0 rgba(0, 0, 0, 0.254),
        1px -1px 0 rgba(0, 0, 0, 0.254),
        -1px 1px 0 rgba(0, 0, 0, 0.282),
        1px 1px 0 rgba(0, 0, 0, 0.453);
    }

  }

}
