<ion-header>

  <ion-navbar>
    <ion-title>My Herborist</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="presentPopover($event)">
        <ion-icon name="menu-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content no-border></ion-refresher-content>
  </ion-refresher>

  <div padding>
    <ion-card class="balance_card">
      <div>
        <img src="https://picsum.photos/200/300" border="0" alt="cat photo: cat coolcat.gif" />
      </div>
      <div class="card-title">{{point}} Poin</div>
      <div class="card-subtitle">{{fullname}}</div>
    </ion-card>
  </div>

  <div padding>
    <ion-card class="azz_card">
      <ion-item detail (click)="goDigitalCard()">
        <ion-icon name="card-outline" item-end></ion-icon>
          <p style="color: black; font-weight: 700;">Kartu Digital</p>
          <h4 style="color: grey;">Lihat kartu digital</h4>
        <!-- <ion-icon name="chevron-forward-outline" item-end></ion-icon> -->
      </ion-item>
    </ion-card>
  </div>

  <div padding>
    <h3>Transaksi</h3>

    <div style="border-top-left-radius: 10px;" *ngIf="trans_list != '' || trans_list != null">
      <ion-item-group *ngFor="let list of trans_list" (click)="getDetailTrans(
        list.add_date,
        list.color,
        list.counter_id,
        list.counter_name,
        list.id, 
        list.id_member,
        list.date,
        list.name_location,
        list.phone,
        list.point,
        list.ref_number,
        list.tipe,
        list.type)">
        <ion-item-divider class="ion-item-border" *ngIf="list.just_date != '' " color="light">
          {{list.just_date | date:' dd MMMM yyyy'}}
        </ion-item-divider>
        <ion-item tappable>
          {{list.counter_name}}
          <ion-note color="{{list.color}}" item-end>{{list.tipe}}{{list.point}}</ion-note>
          <!-- <ion-icon name="chevron-forward-outline" item-end></ion-icon> -->
        </ion-item>
      </ion-item-group>
    </div>
  
    <div id="empty" style="display: none; margin-top: 40%;">
      <h3 text-center>Belum ada transaksi</h3>
    </div>
  </div>

  <!-- <br>

  <div padding-top padding-left padding-right class="titlebox">
    <h3 class="text1">Keuntungan menjadi</h3>
    <h3 class="text2">Member Herborist</h3>
  </div>

  <div>  
    <ion-slides [centeredSlides]="false" [slidesPerView]="1.2" [spaceBetween]="-17">
      
      <ion-slide padding-left>
        <ion-card>
          <div>
            <img src="https://picsum.photos/200/300" border="0" alt="cat photo: cat coolcat.gif" />
          </div>
          <div class="card-title">{{point}} Poin</div>
          <div class="card-subtitle">{{fullname}}</div>
        </ion-card>
      </ion-slide>

      <ion-slide padding-left>
        <ion-card>
          <div>
            <img src="https://picsum.photos/200/300" border="0" alt="cat photo: cat coolcat.gif" />
          </div>
          <div class="card-title">{{point}} Poin</div>
          <div class="card-subtitle">{{fullname}}</div>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <div>
            <img src="https://picsum.photos/200/300" border="0" alt="cat photo: cat coolcat.gif" />
          </div>
          <div class="card-title">{{point}} Poin</div>
          <div class="card-subtitle">{{fullname}}</div>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </div>

  <div padding-top padding-left padding-right class="titlebox">
    <h3 class="text1">Top 10 Produk</h3>
    <h3 class="text2">Persembahan dari Herborist</h3>
  </div>

  <div>  
    <ion-slides [centeredSlides]="false" [slidesPerView]="1.2" [spaceBetween]="-17">

      <ion-slide padding-left>
        <ion-card>
          <div>
            <img src="https://picsum.photos/200/300" border="0" alt="cat photo: cat coolcat.gif" />
          </div>
          <div class="card-title">{{point}} Poin</div>
          <div class="card-subtitle">{{fullname}}</div>
        </ion-card>
      </ion-slide>

      <ion-slide padding-left>
        <ion-card>
          <div>
            <img src="https://picsum.photos/200/300" border="0" alt="cat photo: cat coolcat.gif" />
          </div>
          <div class="card-title">{{point}} Poin</div>
          <div class="card-subtitle">{{fullname}}</div>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <div>
            <img src="https://picsum.photos/200/300" border="0" alt="cat photo: cat coolcat.gif" />
          </div>
          <div class="card-title">{{point}} Poin</div>
          <div class="card-subtitle">{{fullname}}</div>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </div> -->

</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <div>
      <ion-list>
        <ion-item>
          <ion-label floating>No Handphone</ion-label>
          <ion-input type="number" [(ngModel)]="phoneNumber"></ion-input>
        </ion-item>
        <div padding-left padding-right padding-top>
          <button class="azz_button" ion-button block (click)="searchNumberPhone()">
            Cari
          </button>
        </div>
      </ion-list>
    </div>
  </ion-toolbar>
</ion-footer> -->
