  <ion-content>
    <div>
    
        <h3 style="padding-left: 7%;">Menu</h3>

        <ion-list>
            <div id="signup_button" padding>
                <button ion-button class="azz_button" (click)="signUp()" block>Daftar</button>
            </div>
            <div id="profile_button">
                <ion-item (click)="profilePage()">
                    <ion-icon name="person-outline" item-start></ion-icon>
                    Akun
                </ion-item>
            </div>
            <div id="trans_button">
                <ion-item (click)="transPage()">
                    <ion-icon name="swap-horizontal-outline" item-start></ion-icon>
                    Transaksi
                </ion-item>
            </div>
            <div id="logout_button">
                <ion-item (click)="logout()">
                    <ion-icon name="log-out-outline" item-start></ion-icon>
                    Keluar
                </ion-item>
            </div>
        </ion-list>
    </div>
  </ion-content>
  