<ion-header>

  <ion-navbar>
    <ion-title>Akun</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content no-border></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item>
      <!-- <ion-avatar item-start>
        <img src="img/avatar-finn.png">
      </ion-avatar> -->
      <h2 style="font-weight: bolder; font-size: 24px;">{{fullname}}</h2>
      <p>{{point}} Poin</p>
      <!-- <ion-note item-end>
        To the moon
      </ion-note> -->
      <!-- <ion-icon name="card-outline" item-end></ion-icon> -->
    </ion-item>
  </ion-list>

  <ion-card class="azz_card">
    <ion-item detail (click)="goTransaction()">
      <ion-icon name="swap-horizontal-outline" item-start></ion-icon>
        <p>Riwayat Transaksi</p>
        <h4>Lihat riwayat transaksi</h4>
      <ion-icon name="chevron-forward-outline" item-end></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card class="azz_card">
    <ion-item detail (click)="goDigitalCard()">
      <ion-icon name="card-outline" item-start></ion-icon>
        <p>Kartu Digital</p>
        <h4>Lihat kartu digital</h4>
      <ion-icon name="chevron-forward-outline" item-end></ion-icon>
    </ion-item>
  </ion-card>

  <br>

  <ion-card class="azz_card">

    <ion-list>
      <ion-item>
        <ion-icon name="id-card-outline" color="primary" item-start></ion-icon>
          <p>Member ID</p>
          <h4>{{id_member}}</h4>
      </ion-item>
      <ion-item>
        <ion-icon name="phone-portrait-outline" color="danger" item-start></ion-icon>
          <p>Nomor Handphone</p>
          <h4>{{phone}}</h4>
      </ion-item>
      <ion-item>
        <ion-icon name="card-outline" color="dark" item-start></ion-icon>
          <p>NIK</p>
          <h4>{{nik}}</h4>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar-outline" color="danger" item-start></ion-icon>
          <p>Ulang Tahun</p>
          <h4>{{birthday | date:'dd MMMM yyyy'}}</h4>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline" color="violet" item-start></ion-icon>
          <p>Email</p>
          <h4>{{email}}</h4>
      </ion-item>
    </ion-list>
  
  </ion-card>
  
  <div padding>
    <button ion-button class="azz_button" color="goldenrod" (click)="editData()" block>Ubah Data Diri</button>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</ion-content>
