// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$text-input-highlight-color-valid: #3ebfe2;

ion-header {
  &.header-md:after {
    background: none;
  }
}

ion-footer {
  &.footer-md::before {
    background-image: none;
  }
}

// Toolbar Backgroud
.toolbar-background {
  background-color: transparent;
}

// Dissable underline ion input
.item-inner,
ion-item {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

// Card
.azz_card {
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s ease, box-shadow 0.2s ease;
}

.azz_card.hover,
.azz_card:hover {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);

}

// Button
.azz_button {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  // width: 90%;
  height: 38pt;
  text-transform: none;
  font-size: 16px;
}

.azz_button_nosahdow {
  border-radius: 10px;
  height: 38pt;
  text-transform: none;
  font-size: 16px;
}

// // scroll bar hidden
// .scroll-content {
//   overflow-y: hidden;
// }
