
<ion-header>

  <ion-navbar>
    <ion-title>Detail Transaksi</ion-title>
    <!-- <ion-buttons end (click)="dismiss()">
      <button ion-button icon-only color="royal">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content>

  <div padding-top style="text-align: center;">
    <ion-icon size="large" style="color: blue;" md="checkmark-circle" ios="checkmark-circle" ></ion-icon>
    <h3 style="color: blue;">Berhasil</h3>
    <p>{{add_date}}</p>
    <!-- azizi -->
  </div>

  <div padding-top>
    <ion-list>
      <ion-item>
        Counter
        <ion-note item-end>{{counter_name}}</ion-note>
      </ion-item>
      <ion-item>
        No. Referensi
        <ion-note item-end>{{ref_number}}</ion-note>
      </ion-item>
      <ion-item>
        Poin
        <ion-note color="{{color}}" item-end>{{tipe}}{{point}} Poin</ion-note>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
