<!-- <ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="background" padding>

  <div class="titlebox">
    <h3 class="text1">Daftar Menjadi</h3>
    <h3 class="text2">Member Herborist</h3>
  </div>

</ion-content>

<ion-footer padding>
  <ion-toolbar no-border>
    <div class="form">
      <br>
      <ion-list>
  
        <ion-item>
          <ion-input type="text" placeholder="Nama Lengkap" [(ngModel)]="fullname"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input type="number" placeholder="No. Handphone" [(ngModel)]="phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" placeholder="Kata Sandi" [(ngModel)]="password"></ion-input>
        </ion-item>

        <p style="font-size: 12px; text-align: center; color: grey;" class="warning_phone">
          Pastikan nomor handphone kamu aktif
        </p>
  
        <div padding-bottom padding-left padding-right>
          <!-- <button ion-button block color="danger" class="azz_button" (click)="signUp()">Daftar</button> -->
          <button [disabled]="!password" ion-button block color="danger" class="azz_button" (click)="checkNumber()">Daftar</button>
          <button ion-button block class="azz_button_nosahdow" clear padding-top (click)="login()">Masuk</button>
        </div>
  
      </ion-list>
    </div>
  </ion-toolbar>
</ion-footer>
